@media (max-width: 720px){

    .navbar-collapse {
        background-color: white;
        background-image: none !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

    h2{
        text-align: center;
    }
    .principal{
        height: 80vh;
    }
    /*
    .principal #imagenPrincipal{
        height: 80vh;
        width: auto;
    }
    */

    .limitado{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .principal #Logotipo{
        width: 40vw;
    }
    .principal p{
        font-size: 15px;
        padding: 10% 0;
    }
    .aboutme{
        height: auto;
        align-items: center;
    }
    .aboutme .row{
        padding-top: 40px;
    }
    .retrato{
        padding-top: 0px;
        padding-bottom: 40px;
        align-items: center;
    }
    .col-md-9 p{
        font-size: 13px;
        text-align: center;
    }
    .sobreMi{
        //padding: 100px;
        padding: 0;
        margin: 0;
        //padding: 120px 50px 0px 50px;
        align-items: center;
    }
    .fraseUno{
        max-height: 400px;
    }
    .servicios{
        height: auto;
    }
    .infoServicios{
        padding: 60px 0 0 0;
    }
    .descargas{
        height: auto;
        padding-bottom: 40px;
    }
    .infoDescargas{
        padding: 60px 0 0 0;
    }

    .iconosS{
        filter: invert(48%) sepia(97%) saturate(387%) hue-rotate(144deg) brightness(98%) contrast(90%);
        padding: 15px;
        border: 4px solid white;
        border-radius: 50px;
        margin:0;
        width: 20%;
    }
    footer{
        height: min-content;
    }
    .btn-link{
        margin: 0 !important
    }
    .copyright{
        padding: 10px !important;
        font-size: 12px;
    }

}



// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
//@media (min-width: 1400px) { ... }



@media(max-width: 720px){
    body{
      background-size: 100% 100%;
    }
    .navbar-collapse{
      background-image: linear-gradient(#000000,#00000000);
  }
  }