---
import Layout from '../layouts/Layout.astro';
import "../styles/estilos_principales.scss"
import "../styles/estilos_mobil.scss"
---

<Layout title="Galería | Morthlet" descripcion="hola" palabras="gg">
<main>
	<head>
		<!-- Vendor CSS Files -->
		<link href="/vendor/aos/aos.css" rel="stylesheet">
		<!--
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		-->
	</head>

<body>
	<!--SECCIÓN BANNER GALERÍA-->
	<section class= "principal2 container-fluid text-center position-relative">
		<div class= "row">
			<div class="col-12 bannerGaleria"></div>
			<div class="gradienteNegro2"></div>
		</div>
	</section>

	<!--SECCIÓN FRASE DOS-->
	<section class= "fraseDos container-fluid text-center position-relative">
			<div class="row">
				<div class ="col-lg-12 p-0 position-relative" style="height: 100%;" 
				data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
					<img src= "/frase2.png" alt="Keep it simple" width="100%">	
				</div>
			</div>	
	</section>

	<!--SECCIÓN CARRUSEL-->
	<section class="carrusel justify-content-center text-center container-fluid"
	data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
		<div class="infoGaleria">
			<h1>GALERÍA</h1>
			<p>Échale un ojo a mi producción más destacada</p>
		</div>

			<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="10000">
					<img src="/carusel-1.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img src="/carusel-2.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/carusel-3.jpg" class="d-block w-100" alt="...">
				</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

	</section>

	<!--SECCIÓN PORTAFOLIO-->
	<section id="portfolio" class="portfolio">
		<div class="container">
			  <div class="row" data-aos="fade-up" data-aos-delay="100">
				<div class="col-lg-12 d-flex justify-content-center">
				  <ul id="portfolio-flters">
					<li data-filter="*" class="filter-active">Todo</li>
					<li data-filter=".filter-app">Diseño 3D</li>
					<li data-filter=".filter-card">Fotografía</li>
					<li data-filter=".filter-web">Logotipos</li>
					<li data-filter=".filter-card">Arquitectura</li>
					<li data-filter=".filter-web">Motion Graphics</li>
				  </ul>
				</div>
			  </div>
	  
			  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
	  
				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
				  <div class="portfolio-wrap">
					<img src="/galeria-1.jpg" class="img-fluid" alt="">
					<div class="portfolio-info">
					  <h2>App 1</h2>
					  <p>App</p>
					  <div class="portfolio-links">
						<a href="/galeria-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
						<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
					  </div>
					</div>
				  </div>
				</div>
	  
				<div class="col-lg-4 col-md-6 portfolio-item filter-web">
				  <div class="portfolio-wrap">
					<img src="/galeria-2.jpg" class="img-fluid" alt="">
					<div class="portfolio-info">
					  <h2>Web 3</h2>
					  <p>Web</p>
					  <div class="portfolio-links">
						<a href="/galeria-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
						<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
					  </div>
					</div>
				  </div>
				</div>
	  
				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
				  <div class="portfolio-wrap">
					<img src="/galeria-3.jpg" class="img-fluid" alt="">
					<div class="portfolio-info">
					  <h2>App 2</h2>
					  <p>App</p>
					  <div class="portfolio-links">
						<a href="/galeria-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
						<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
					  </div>
					</div>
				  </div>
				</div>
	  
				<div class="col-lg-4 col-md-6 portfolio-item filter-card">
				  <div class="portfolio-wrap">
					<img src="/galeria-4.jpg" class="img-fluid" alt="">
					<div class="portfolio-info">
					  <h2>Card 2</h2>
					  <p>Card</p>
					  <div class="portfolio-links">
						<a href="/galeria-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
						<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
					  </div>
					</div>
				  </div>
				</div>
	  
				<div class="col-lg-4 col-md-6 portfolio-item filter-web">
				  <div class="portfolio-wrap">
					<img src="/galeria-5.jpg" class="img-fluid" alt="">
					<div class="portfolio-info">
					  <h2>Web 2</h2>
					  <p>Web</p>
					  <div class="portfolio-links">
						<a href="/galeria-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
						<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
					  </div>
					</div>
				  </div>
				</div>
	  
				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
				  <div class="portfolio-wrap">
					<img src="/galeria-6.jpg" class="img-fluid" alt="">
					<div class="portfolio-info">
					  <h2>App 3</h2>
					  <p>App</p>
					  <div class="portfolio-links">
						<a href="/galeria-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
						<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
					  </div>
					</div>
				  </div>
				</div>
	  
				<div class="col-lg-4 col-md-6 portfolio-item filter-card">
				  <div class="portfolio-wrap">
					<img src="/galeria-7.jpg" class="img-fluid" alt="">
					<div class="portfolio-info">
					  <h2>Card 1</h2>
					  <p>Card</p>
					  <div class="portfolio-links">
						<a href="/galeria-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
						<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
					  </div>
					</div>
				  </div>
				</div>
	  
				<div class="col-lg-4 col-md-6 portfolio-item filter-card">
				  <div class="portfolio-wrap">
					<img src="/galeria-8.jpg" class="img-fluid" alt="">
					<div class="portfolio-info">
					  <h2>Card 3</h2>
					  <p>Card</p>
					  <div class="portfolio-links">
						<a href="/galeria-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
						<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
					  </div>
					</div>
				  </div>
				</div>
	  
				<div class="col-lg-4 col-md-6 portfolio-item filter-web">
				  <div class="portfolio-wrap">
					<img src="/galeria-9.jpg" class="img-fluid" alt="">
					<div class="portfolio-info">
					  <h2>Web 3</h2>
					  <p>Web</p>
					  <div class="portfolio-links">
						<a href="galeria-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
						<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
	</section>

	<!--SECCIÓN HABILIDADES EXTRA-->
	<section class= "serviciosExtra container-fluid position-relative pb-3">
		<div class="infoServicios" 
		data-aos="zoom-out" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
			<!--TITULAR EXTRA E INFORMACIÓN-->
			<h1>HABILIDADES EXTRA</h1>
			<p>Descubre que otros servicios puedo brindarte:</p>
		</div>
		<!--Primera fila-->
		<div class="container-fluid" 
		data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
			<div class="row primeraFila justify-content-md-center m-0"  >
				<div class ="elementoE col-lg-3 col-sm-8 justify-content-md-center p-0 m-0" >
					<div class="row">
						<div class ="col-md-3 text-center align-self-center">
							<img src= "/favicon.svg" width="100%" class="iconosE">	
						</div>
						<div class ="cuadro S col-md-9">
							<h2>Sesión Fotográfica</h2> 
							<br>
							<p>Sesión casual o con luces de estudio. 12
							fotografías digitales con dos atuendos y
							aditamentos.</p>
						</div>
					</div>
				</div>
			</div>
			<!--Segunda fila-->
			<div class="row primeraFila justify-content-md-center m-0"  >
				<div class ="elementoE col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
					<div class="row">
						<div class ="col-md-3 text-center align-self-center">
							<img src= "/favicon.svg" width="100%" class="iconosE">	
						</div>
						<div class ="cuadro S col-md-9">
							<h2>Sesión Fotográfica</h2> 
							<br>
							<p>Sesión casual o con luces de estudio. 12
							fotografías digitales con dos atuendos y
							aditamentos.</p>
						</div>
					</div>
				</div>
			</div>
			<!--Tercera fila-->
			<div class="row primeraFila justify-content-md-center m-0"  >
				<div class ="elementoE col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
					<div class="row">
						<div class ="col-md-3 text-center align-self-center">
							<img src= "/favicon.svg" width="100%" class="iconosE">	
						</div>
						<div class ="cuadro S col-md-9">
							<h2>Sesión Fotográfica</h2> 
							<br>
							<p>Sesión casual o con luces de estudio. 12
							fotografías digitales con dos atuendos y
							aditamentos.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
    <!-- Vendor JS Files -->
	<script is:inline src="/vendor/purecounter/purecounter_vanilla.js"></script>
	<script is:inline src="/vendor/aos/aos.js"></script>
	<script is:inline src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script is:inline src="/vendor/glightbox/js/glightbox.min.js"></script>
	<script is:inline src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script is:inline src="/vendor/swiper/swiper-bundle.min.js"></script>
	<script is:inline src="/vendor/php-email-form/validate.js"></script>
  
	<!-- Template Main JS File -->
	<script is:inline src="/js/main.js"></script>

</body>
</main>
</Layout>
