---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Tarjeta2 from '../components/Tarjeta2.astro';
import CaruselItem from '../components/CaruselItem.astro';
import "../styles/estilos_principales.scss"
import "../styles/estilos_mobil.scss"
---

<Layout title="Morthlet" descripcion="Página de inicio" palabras="hola">
	<main >
		<!--SECCIÓN PRINCIPAL-->
		<section class= "principal container-fluid text-center position-relative" id="arriba">			
			<div class="row">
				<div class ="col-12 bannerInicio" > <!--quité clase "limitado"-->
					<div class="logo position-absolute top-50 start-50 translate-middle">
						<img src= "/logo.png" alt="Imagen de fondo para ejemplo" width="35%" id="Logotipo">
						<p>DYNAMIC. <span>MINIMALIST.</span> PROFESSIONAL.</p>		
					</div>		
				</div>
				<div class="gradienteNegro"></div>
			</div>
		</section>
			
		<!-- SECCIÓN INTRODUCCIÓN -->
		<section class="aboutme position-relative pt-1 pb-1">
			<div class="row justify-content-md-center m-0" 
			data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
				<div class ="sobreMi col-lg-5 col-md-12 text-center">
					<h4>¡BIENVENIDO!</h4>
					<br>
					<p id="presentacion">Mi nombre es Omar Rangel y soy Licenciado en
						Artes Digitales apasionado por el diseño 3D y la
						fotografía.</p><br><br>
						<svg height="30px" width="100%">
							<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(255,255,255);stroke-width:4;text-align:center;" />
						</svg>
					<p id="explicacion">
						Morthlet is <span>mo</span>re <span>th</span>an <span>let</span>ters!
						<br>
						<br>
						<span>Morthlet</span> es mi marca personal. Nace del sueño de crear, innovar y
						condensar mi pensamiento artístico a la realidad. <span>Soy un
						profesional que cuida</span> en extremo <span>los detalles</span>, pues son estos los
						que marcan la diferencia.
						<br>
						<br>
						Me desenvuelvo en todas de las áreas del arte digital con
						especialidad en <span>diseño gráfico, modelado 3D y fotografía.</span>
					</p><br>	
					<a class="botonGaleria" href="#" role="button">Ir a Galería</a>
				</div>
				<div class ="retrato col-lg-5 col-md-8 col-sm-8 text-center">
					<br>
					<img src= "/sobreMi.png" alt="¡Este soy yo!" width="90%">
				</div>
			</div>
		</section>
		
		<!--SECCIÓN FRASE UNO-->
		<section class= "fraseUno container-fluid text-center position-relative" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
			<div class="row">
				<div class ="col-lg-12 p-0 position-relative" style="height: 100%;">
					<img src= "/frase1.png" alt="Menos es más" width="100%">	
				</div>
			</div>
		</section>

		<!--SECCIÓN SERVICIOS-->
		<section class= "servicios container-fluid position-relative" >
			<div class="infoServicios" 
			data-aos="zoom-out" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
				<!-- Titular Servicios e información -->
				<h1>SERVICIOS</h1>
				<p>Descubre las cosas que puedo hacer por tí:</p>
			</div>

			<div class="container-fluid" 
			data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
				<!-- Primera fila -->
				<div class="row primeraFila justify-content-md-center m-0"  >
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0" >
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "/public/favicon.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Sesión Fotográfica</h2> 
								<br>
								<p>Sesión casual o con luces de estudio. 12
								fotografías digitales con dos atuendos y
								aditamentos.</p>
							</div>
						</div>
					</div>
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "/favicon.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Sesión Fotográfica</h2> 
								<br>
								<p>Sesión casual o con luces de estudio. 12
								fotografías digitales con dos atuendos y
								aditamentos.</p>
							</div>
						</div>
					</div>
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "/favicon.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Sesión Fotográfica</h2> 
								<br>
								<p>Sesión casual o con luces de estudio. 12
								fotografías digitales con dos atuendos y
								aditamentos.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Segunda fila -->
				<div class="row segundaFila justify-content-md-center m-0">
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "/favicon.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Sesión Fotográfica</h2> 
								<br>
								<p>Sesión casual o con luces de estudio. 12
								fotografías digitales con dos atuendos y
								aditamentos.</p>
							</div>
						</div>
					</div>
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "/favicon.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Sesión Fotográfica</h2> 
								<br>
								<p>Sesión casual o con luces de estudio. 12
								fotografías digitales con dos atuendos y
								aditamentos.</p>
							</div>
						</div>
					</div>
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "/favicon.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Sesión Fotográfica</h2> 
								<br>
								<p>Sesión casual o con luces de estudio. 12
								fotografías digitales con dos atuendos y
								aditamentos.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--SECCIÓN DESCARGAS-->
		<section class= "descargas container-fluid position-relative" >
			<div class="infoDescargas" 
			data-aos="zoom-out" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
				<!-- Titular Descargas e información -->
				<h1>DESCARGAS</h1>
				<p>Descarga fondos de pantalla y contenido adicional completamente gratis:</p>
			</div>
			<!-- Primera fila -->
			<div class="container-fluid" 
			data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
				<div class="row justify-content-md-center m-0">
					<div class ="elementoD col-lg-12 col-md-10 justify-content-md-center">
						<div class="row justify-content-md-center">
							<div class ="col-md-3 text-center"> <!--  align-items-flex-end -->
								<h3>Fondo de pantalla 1</h3>
								<p>Técnica: Ilustración digital</p>	
								<img src="/Ilustración genérica 1.jpg" width="70%">
								<p>Inserte aquí una descripción breve</p>	
							</div>
							<div class ="col-md-3 text-center">
								<h3>Fondo de pantalla 1</h3>
								<p>Técnica: Ilustración digital</p>	
								<img src="Ilustración genérica 1.jpg" width="70%">
								<p>Inserte aquí una descripción breve</p>	
							</div>
							<div class ="col-md-3 text-center">
								<h3>Fondo de pantalla 1</h3>
								<p>Técnica: Ilustración digital</p>	
								<img src="/Ilustración genérica 1.jpg" width="70%">
								<p>Inserte aquí una descripción breve</p>	
							</div>
							<div class ="col-md-3 text-center">
								<h3>Fondo de pantalla 1</h3>
								<p>Técnica: Ilustración digital</p>	
								<img src="/Ilustración genérica 1.jpg" width="70%">
								<p>Inserte aquí una descripción breve</p>	
							</div>
						</div>
						<!-- Segunda Fila -->
						<div class="row segundaFila">
							<div class ="col-md-3 text-center p-0 m-0">
								<h3>Recurso extra 1</h3>
								<p>Técnica: Ilustración digital</p>	
								<img src="/Recurso genérico 1.jpg" width="70%">
								<p>Inserte aquí una descripción breve</p>	
							</div>
							<div class ="col-md-3 text-center p-0 m-0">
								<h3>Recurso extra 1</h3>
								<p>Técnica: Ilustración digital</p>	
								<img src="/Recurso genérico 1.jpg" width="70%">
								<p>Inserte aquí una descripción breve</p>	
							</div>
							<div class ="col-md-3 text-center p-0 m-0">
								<h3>Recurso extra 1</h3>
								<p>Técnica: Ilustración digital</p>	
								<img src="/Recurso genérico 1.jpg" width="70%">
								<p>Inserte aquí una descripción breve</p>	
							</div>
							<div class ="col-md-3 text-center p-0 m-0">
								<h3>Recurso extra 1</h3>
								<p>Técnica: Ilustración digital</p>	
								<img src="/Recurso genérico 1.jpg" width="70%">
								<p>Inserte aquí una descripción breve</p>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
