---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre mí | Morthlet" descripcion="" palabras="">
	<main id="paginaSobremi">
    
    <!--SECCIÓN BANNER SOBRE MÍ -->
	<section class= "principal2 container-fluid text-center position-relative">
		<div class= "row">
			<div class="col-12 bannerSobremi"></div>
			<div class="gradienteNegro2"></div>
		</div>
	</section>

    <!--SECCIÓN INFORMACIÓN SOBRE MÍ -->
    <section class= "InfosobreMi container-fluid text-center position-relative">
      <div class="container-fluid" 
			data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
        <div class= "row justify-content-center">
            <div class="col-lg-5 col-md-8 sobreMiExtendido">
                <h1 id="sobreMi">SOBRE MÍ</h1>
                <p> Estudié la Licenciatura en Artes Digitales en la Universidad de
                    Guanajuato por mi gusto por el arte en general. Las nuevas
                    tecnologías juegan un rol fundamental en las nuevas generaciones
                    por lo cual el arte debe evolucionar y adaptarse a los soportes
                    digitales. <br><br>
                    En el transcurso de la carrera fui experimentando con todas las
                    áreas de aprendizaje y decidí especializar mi conocimiento
                    profesional en la fotografía y el diseño 3D. Considero que son dos
                    ramas del arte digital que tienen infinitas posibilidades de creación,
                    expresión y manipulación, además de bastantes usos. Permiten
                    crear escenarios sin limitaciones que de otro modo solo vivirían
                    dentro de nuestra mente. <br><br>
                    Mi nickname "Morthlet" nace de la necesidad de sentirme
                    identificado de algún modo. Mi gusto por las letras y el orden que
                    hay en ellas inspira mi trabajo. Soy un profesional que ama dejar su
                    corazón en todo lo que hace. Me gusta dar una buena impresión y
                    generar una buena relación con todos mis clientes. ¡Atrévete a
                    tomar la maravillosa experiencia de trabajar conmigo!
                  </p>
            </div>
            <div class="col-lg-5 col-md-8 habilidades">
              <div class="container-fluid">
                <h1 id="habilidades">HABILIDADES</h1>
                <p>Manejo la gran mayoría de los programas de la Suite de Abobe,
                así como Blender, Maya y ClipStudio Paint.</p>
              </div>
              <!--Barras de Progreso-->
              <div class="container-fluid">
                <div class="row py-1">
                    <div class="col-8 barraProgreso d-flex justify-content-end">
                        <div class="rellenoProgresoPs" style="width: 90%;"></div>
                    </div>
                    <div class="col-4">
                        <h5>Photoshop</h5>
                    </div>
                </div>
                <div class="row">
                  <div class="col-8 barraProgreso d-flex justify-content-end">
                      <div class="rellenoProgresoBlender" style="width: 60%;"></div>
                  </div>
                  <div class="col-4">
                      <h5>Lightroom</h5>
                  </div>
                </div>
                <div class="row py-1">
                    <div class="col-8 barraProgreso d-flex justify-content-end">
                        <div class="rellenoProgresoAi" style="width: 100%;"><p>.</p></div>
                    </div>
                    <div class="col-4">
                        <h5>Ilustrator</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 barraProgreso d-flex justify-content-end">
                        <div class="rellenoProgresoAi" style="width: 100%;"><p>.</p></div>
                    </div>
                    <div class="col-4">
                        <h5>InDesign</h5>
                    </div>
                </div>
                <div class="row py-1">
                    <div class="col-8 barraProgreso d-flex justify-content-end">
                        <div class="rellenoProgresoPr" style="width: 70%;"><p>.</p></div>
                    </div>
                    <div class="col-4">
                        <h5>Premiere</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 barraProgreso d-flex justify-content-end">
                        <div class="rellenoProgresoAe" style="width: 75%;"><p>.</p></div>
                    </div>
                    <div class="col-4">
                        <h5>AfterEffects</h5>
                    </div>
                </div>
                <div class="row py-1">
                    <div class="col-8 barraProgreso d-flex justify-content-end">
                        <div class="rellenoProgresoBlender" style="width: 60%;"><p>.</p></div>
                    </div>
                    <div class="col-4">
                        <h5>Blender</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 barraProgreso d-flex justify-content-end">
                        <div class="rellenoProgresoMaya" style="width: 50%;"><p>.</p></div>
                    </div>
                    <div class="col-4">
                        <h5>Maya</h5>
                    </div>
                </div>
                <div class="row py-1">
                    <div class="col-8 barraProgreso d-flex justify-content-end">
                        <div class="rellenoProgresoMaya" style="width: 50%;"><p>.</p></div>
                    </div>
                    <div class="col-4">
                        <h5>ClipStudio</h5>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    
    <!--SECCIÓN TESTIMONIOS-->
    <section class="testimonios container-fluid" 
    data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
      <div class="infoTestimonios">
			  <h1 class="text-center justify-content-center" id="testimonios">TESTIMONIOS</h1>
	    </div>
      <div class="gradienteTes"><p>Testimonios</p></div>
        <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel" 
        data-aos="zoom-out" data-aos-delay="400" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/testimonios-1.webp" class="d-block w-100 imagenTes" alt="Testimonio 1">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Adrián Ramírez</h5>
                  <p>"Justo como lo estaba buscando, me encantó la atención y tu trabajo, ¡felicitaciones!"</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/testimonios-2.webp" class="d-block w-100 imagenTes" alt="Testimonio 2">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Adriana Ventura</h5>
                  <p>"Siempre tan atento a lo que pido, ¡me encanta tu trabajo, gracias!"</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/testimonios-3.webp" class="d-block w-100 imagenTes" alt="Testimonio 3">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Gerardo Sotomayor</h5>
                  <p>"Más que satisfecho con el resultado de mi logotipo. Superó mis expectativas ¡gracias!"</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/testimonios-4.webp" class="d-block w-100 imagenTes" alt="Testimonio 4">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Virginia Gutiérrez</h5>
                  <p>"Entrega en tiempo y forma, estoy completamente satisfecha."</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

    <!--SECCIÓN TESTIMONIOS MOBIL-->
    <section class="testimoniosMobil container-fluid position-relative">
        <div class="infoTestimoniosMobil">
			<h1 class="text-center justify-content-center" id="testimoniosMobil">TESTIMONIOS</h1>
		</div>

        <div class="gradienteTes2"><p>Testimonios</p></div>

        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/testimoniosMobil-1.png" class="d-block w-100" alt="Testimonio 1">
              </div>
              <div class="carousel-item">
                <img src="/testimoniosMobil-2.png" class="d-block w-100" alt="Testimonio 2">
              </div>
              <div class="carousel-item">
                <img src="/testimoniosMobil-3.png" class="d-block w-100" alt="Testimonio 3">
              </div>
              <div class="carousel-item">
                <img src="/testimoniosMobil-4.png" class="d-block w-100" alt="Testimonio 4">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

    <!--SECCIÓN CV -->
    <section class="curriculum container-fluid text-center position-relative">
        <div class="row justify-content-center">
            <div class="demoreel col-lg-5 col-md-8 text-center">
                <h1 id="demo">DEMO REEL</h1>
                <iframe width="100%"
                    src="https://www.youtube.com/watch?v=IvjbMB2vuOI">
                </iframe>
            </div>
            <div class="cv col-lg-5 col-md-8 text-center">
                <h1 id="cv">CV</h1>
                <img src="/Curriculum.png" alt="Descarga CV" width="100%">
            </div>
        </div>
    </section>


</main>
</Layout>